@use '../base';
.skip__to__content {
	left: 50%;
	position: absolute;
	transform: translateY(-100%);
	background-color: base.$very-dark-grayish-blue;
	height: 30px;
	padding: 8px;
	transition: transformY(0.3s);

	&:focus {
		transform: translateY(0.3s);
	}
}
.products {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 620px) {
	.products {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}