@use '../base';

.nav {
	position: relative;
	padding: 2rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.menu__btn {
	background-color: inherit;
	border: none;
}

.nav__list {
	padding: 3.5rem;
	display: flex;
	flex-direction: column;
	gap: 30px;
	position: absolute;
	background-color: white;
	width: 84%;
	left: 50%;
	margin-left: -42%;
	top: 5.5rem;
	z-index: 5;

	&::before {
		position: absolute;
		content: "";
		top: -24px;
		right: 0;
		width: 0;
		height: 0;
		//background-color: rebeccapurple;
		border: 24px solid transparent;
		//border-right-color: transparent;
		//border-right-style: solid;
		//border-right-width: 24px;
		border-right: 24px solid white;
	}
}

.nav__list__item {
	text-align: center;
}

.link--btn {
	color: base.$dark-grayish-blue;
	/* padding: 1rem; */
}

.hide__nav {
	display: none;
}

@media screen and (min-width: 620px) {
	.hide__nav {
		display: flex;
	}

	.nav__list {
		flex-direction: row;
		position: relative;
		padding: 0;
		left: 0;
		top: 0;
		margin-left: 0;
		background-color: transparent;
		width: auto;
		&::before {
			content: none;
		}
	}

	.menu {
		display: none;
	}

	.link--btn {
		color: white;
		text-decoration: none;
	}

	.nav {
		padding: 2.125rem 2.5rem;
		align-items: center;
	}
}